# code-live-server.sh
replit/.config 
replit/code_server
replit/.noreplit
replit/data
# gen-gfn-pass
gen-gfn-pass/gen-gfn-pass
gen-gfn-pass/gen-gfn-pass.exe
gen-gfn-pass/node_modules
gen-gfn-pass/yarn.lock
gen-gfn-pass/package_lock.json